<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>L1</display-name>
    <servlet-name>L1</servlet-name>
    <servlet-class>L1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>L1</servlet-name>
    <url-pattern>/L1</url-pattern>
  </servlet-mapping>
  <display-name>Lab-Appointment-System</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>doctor</display-name>
    <servlet-name>doctor</servlet-name>
    <servlet-class>doctor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>doctor</servlet-name>
    <url-pattern>/doctor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>lab_assistant_create</display-name>
    <servlet-name>lab_assistant_create</servlet-name>
    <servlet-class>lab_assistant_create</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>lab_assistant_create</servlet-name>
    <url-pattern>/lab_assistant_create</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>lab_booking</display-name>
    <servlet-name>lab_booking</servlet-name>
    <servlet-class>lab_booking</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>lab_booking</servlet-name>
    <url-pattern>/lab_booking</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>lab_test</display-name>
    <servlet-name>lab_test</servlet-name>
    <servlet-class>lab_test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>lab_test</servlet-name>
    <url-pattern>/lab_test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>lab_test_register</display-name>
    <servlet-name>lab_test_register</servlet-name>
    <servlet-class>lab_test_register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>lab_test_register</servlet-name>
    <url-pattern>/lab_test_register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>lab_test_result</display-name>
    <servlet-name>lab_test_result</servlet-name>
    <servlet-class>lab_test_result</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>lab_test_result</servlet-name>
    <url-pattern>/lab_test_result</url-pattern>
  </servlet-mapping>
</web-app>